




body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #414141;
    color: #333;
    scroll-behavior: smooth;
   
}


.divbackground{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,#222,#222,#222,#222,#222,#ff6347,#222,#222,#222,#222,#222);
    background-size: 300% 300%;
    animation: mudarBackground 12s infinite;
}

  @keyframes mudarBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
.backcaixa{
    display: flex;
    position: absolute;
}
.backdivs{
    display: flex;
    flex-direction: column;
    gap: 2px;
    
}

.cubeback{

    width: 76px;
    height: 75px;
    background-color: #222;
    /*background-color: white;*/
    margin: 1.8px;
    transition: 3s ease-in-out;
    box-shadow: 1px 1px 10px 2px #222;

}
.cubeback:hover{
    background-color: #111;
    transition: 0.1s ease-in;
    transform: rotate(180deg);


}

.img-one-title{
        width: 70%;
        height: auto;
        
        position: absolute;
        top: 50%;
        left: 30%; 
        transform: translate(-50%, -50%);
       
    
}

.containernav {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    
}
.fixed-bar{
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar {
    background: #333;
    color: #ff6347;
    padding: 1rem 0;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    
    
}


.nav-links a {
    color: #ff6347;
    text-decoration: none;
}

@keyframes sobe-desce {

        0% { transform: translateY(0);
          opacity: 0.7;}

        50% { transform: translateY(-20px);
        opacity: 1;}

        100% { transform: translateY(0);
        opacity: 0.7;}
}
.nav-links:nth-child(1){
    animation: sobe-desce 1s infinite;

}
.hero {
    background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExOTg0YnMyOGowcXNpeXppczVxYzF4YzF5Y3k4ZjByb3hmN2hzbTlwdiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/lSzQjkthGS1gc/giphy.gif);
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    width: 100%;
    height: 40vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.container-hero{
    width: 100%;
    max-width: 1200px;
    
    
}

.hero h2 span {
    color: #ff6347;
}

.btn {
    background: #ff6347;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #e5533b;
}

section {
    margin: 2rem 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}


.about{
    height: 60vh;
    display: flex;
    color: #fff;
}
.container-sobre{
    width: 50%;
    max-width: 1200px;
    margin-left: 5rem;
    
}
.img-sobre{
  position: absolute;
  opacity: 0.2;
  transform: translateY(-135px);
  z-index: -10;
}


  .container {
    color: #e5e5e5;
    font-size: 2.26rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .animation {
    height:70px;
    overflow:hidden;
    margin-left: 1rem;
  }
  
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 8s infinite;
  }
  
  .first div {
    color:#e5533b;
  }
  .second div {
    color:#e5533b;
  }
  .third div {
    color:#ff6347;
  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
  


.sec-projetos{
  width: 90%;
  height: 100vh;
  margin: auto;

}
.sec-projetos .img-title-proj{
  position: absolute;
  opacity: 0.2;
  transform: translate(30px, -270px);
  z-index: -1;
  
}
.sec-projetos h1, h3{
  color: white;
}

.cards-projetos{
  display: flex;
  gap: 30px;
}
.card {
  width: 300px;
  height: 200px;
  padding: 0.5rem;
  background: rgba(198, 198, 198, 0.34);
  border-radius: 8px;
  backdrop-filter: blur(5px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.440);
  border-left: 2px  rgba(255, 255, 255, 0.545) outset;
  box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
  transform: skewX(10deg);
  transition: .4s;
  overflow: hidden;
  color: white;
}

.card:hover {
  height: auto;
  width: 500px;
  transform: skew(0deg);
}

.card h1 {
  text-align: center;
  font-size: 30px;
  margin: 1.3rem;
  color: rgb(218, 244, 237);
  text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}
.card p{
  margin: 1.7rem;
  color: rgb(218, 244, 237);
  text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}
.div-button{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.box {
  width: 140px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  border: 1px solid white;

}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
  transform: scale(1.2);

}

.box:hover:before {
  border-color: #ffffff;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: #ffffff;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

.card button {
  color: white;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}
a {
  all: unset;
  
}
.img-console{
  width: 100%;
  height: auto;
  
}
.sec-skills{
  width: 90%;
  height: 80vh;
  margin: auto;

}
.sec-skills .div-geral-skills h1,p{
  color: white;
}
.img-skills{
  position: absolute;
  opacity: 0.2;
  transform: translateY(-300px);
  z-index: -10;


}
.div-icon-tolls{
  display: flex;
  width: 100%;
  margin: 50px auto;


}

a{
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 30px 30px;
  flex-wrap: wrap;
  animation: sobe-desce 2s infinite;
  transform: scale(2.0);
  
}
.icon-skills:hover{
  animation: rotate-center 0.6s ease-in-out both;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #33333381;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #3333332d transparent;
}

.tooltip .icon {
  width: auto;
  height: auto;
  background-color: transparent;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}
.icon-skills{
  width: 52px;
  height: 52px;
}

.sec-contatos{
  width: 90%;
  height: 80vh;
  margin: auto;
}
.sec-contatos h1{
  color: white;
}
.img-contatos{
  position: absolute;
  opacity: 0.2;
  transform: translateY(-280px);
  z-index: -10;
  
}
.organize-card{
  display: flex;
}


.card-container {
  margin: 20px;
  width: 500px;
  height: 320px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
}

.card-contact {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  text-align: center;
}

.card-contact .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  text-align: center;
}

.card-contact .front-content p {
  font-size: 32px;
  font-weight: 700;
  opacity: 1;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  text-align: center;
  z-index: 1;
}

.card-contact .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  color: #e8e8e8;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translateY(-96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card-contact .content .heading {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}

.card-contact:hover .content {
  transform: translateY(0);
}

.card-contact:hover .front-content {
  transform: translateY(30%);
}

.card-contact:hover .front-content p {
  opacity: 0;
}

.icon-contatos-card{
  width: 30px;
  height: 30px;
}
.content p{
  width: 90%;
}
.link-contact{
  width: 455px;
  height: 320px;
  display: flex;
  cursor: pointer;
}
.img-intern-card{
  width: 400px;
  height: 400px;
  opacity: 0.3;
  position: absolute;
  z-index: -10;
  top: 85%;
  left: 30%;

}

footer{
  text-align: center;
  color: #fff;
  padding: 1rem 0;
  margin-top: 2rem;
  width: 100%;
  margin-top: 0rem;
  height: 250px;
  background: linear-gradient(-45deg, #f82929 0%, #ff8f0f 100% );
  display: flex;
}
.agradecimento{
  width: 25%;
  height: auto;
  color: black;
  margin-left: 30px;
  
  text-align: left;
  
}
.agradecimento p{
  margin-left: 30px;
  font-size: 15px;
  
}
.mapa-site{
  width: 25%;
  height: auto;
  margin-left: 30px;
  

}
.mapa-site h3{
  text-align: left;
}
.mapa-site li{
  margin: 5px;
  list-style-type: none;
  text-align: left;
}
.contatos-footer{
  width: 25%;
  height: auto;
  
  margin-left: 30px;
}
.contatos-footer h3{
  text-align: left;
}
.contatos-footer ul li{
  list-style-type: none;
  text-align: left;
}
.contatos-footer ul li img{
  width: 30px;
  height: 30px;
  margin-top: 8px;
  padding-right: 25px;
}
.div-linha{
  width: 1px;
  height: 220px;
  background-color: rgba(255, 255, 255, 0.464);
  box-shadow: white 1px 1px 10px 1px;
  margin: 0px 20px;
}
.return button{
  width: 50px;
  height: auto;
  border-style: none;
  background-color: white;
  font-size: 20px;
  color: black;
  border-radius: 50%;
  padding: 10px;
  
}
.return button img{
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
}

.img-circle{
  width: 100%;
}
.finale{
  background-color: #333;
  width: 100%;
  height: auto;
  text-align: center;
  color: white;

}